---
import Layout from "../../layouts/Layout.astro";
import NavBar from "@components/NavBar.astro";
---

<Layout title="Rafael Feitosa | Sobre mim">
  <NavBar />
  <div
    class="w-screen min-h-screen flex justify-center items-center bg-gradient-to-tl to-zinc-900/80 from-zinc-950"
  >
    <section
      class="max-w-7xl text-center prose prose-sm md:prose-base prose-p:text-justify prose-p:leading-loose prose-headings:text-zinc-300 mx-auto prose-p:text-zinc-300 mt-24 p-6 md:p-12"
    >
      <h1>Sobre mim</h1>
      <h2>Vamos bater um papo?</h2>

      <p>
        Meu nome é Rafael Feitosa de Souza e tenho 19 anos. Meu início na programação foi há um pouco mais de 1 ano atrás quando entrei no curso de Análise e Desenvolvimento de Sistemas na FIAP pelo Prouni.
      </p>

      <p>
        Eu nunca soube exatamente o que queria para minha vida como profissão, mas sempre tive interesse e vontade de aprender mais sobre o mundo da programação, porém nunca havia pensado nela de uma forma profissional, algo como uma carreira a seguir.
      </p>

      <p>
        E chega a ser engraçado, porque eu não sabia exatamente o que queria como profissão e isso era com 18 anos, prestes a fazer o ENEM. Então, eu fui totalmente desmotivado, pensando que, independentemente do resultado, O QUE EU IRIA FAZER DA MINHA VIDA? E para minha surpresa, minha nota dava para entrar em uma das melhores faculdades de tecnologia da minha cidade. Eu só lembro de ter pensado no momento: "Eu sou horrível em matemática".
      </p>

      <p>
       Hoje em dia, estou com formação prevista para dezembro de 2023. Já fiz diversos projetos, tanto na faculdade quanto por fora, em bootcamps como o da RocketSeat. Eu realmente não quero pisar no freio e parar de aprimorar o que já sei e descobrir coisas novas. Muitas tecnologias e conceitos me encantam no mundo da programação e eles são infinitos, então... acho que vou estudar por um booooom tempo.
      </p>

      <p>
        Mas como nem tudo são flores, apesar de estar estudando esse tempo, fazendo projetos e aplicando para vagas, eu ainda não consegui minha primeira oportunidade de emprego. Eu nem sequer cheguei em uma entrevista ainda. É paia, eu sei, mas se você leu até aqui, saiba que eu nem te conheço, mas já te considero pacas. Muito obrigado mesmo pelo seu tempo, e se de alguma forma você leu tudo isso e sentiu vontade de conversar sobre qualquer coisa, sinta-se livre para me mandar uma mensagem no LinkedIn.
      </p>
    </section>
  </div>
</Layout>
