---
import Contact from "@components/Contact.astro";
import { Particles } from "@components/Particles";
import Link from "@components/Link.astro";

import Layout from "@layouts/Layout.astro";

import navData from "../data/navData";
import NavBar from "@components/NavBar.astro";
---

<Layout
  title="Rafael Feitosa | Home"
  description="Portfólio com os projetos de Rafael Feitosa - Desenvolvedor front-end"
>
  <Particles client:idle />

  <NavBar />

  <div
    class="h-screen w-full flex flex-col justify-center items-center select-none animate-appear"
  >
    <div class="flex flex-col text-center">
      <h1 class="text-4xl md:text-5xl font-extrabold text-gray-300/90">
        Rafael Feitosa
      </h1>
      <h2 class="text-sm md:text-base font-bold text-gray-400">
        Desenvolvedor Front-End
      </h2>
    </div>

    <Contact />
  </div>
</Layout>
