---
import { Icon } from "astro-icon";

import Link from "./Link.astro";

import navData from "../data/navData";
---

<header>
  <nav
    class="fixed inset-x-0 top-0 z-10 backdrop-blur backdrop-opacity-80"
  >
    <div
      class="container flex text-zinc-300 w-full justify-between items-center mx-auto p-6"
    >
      <Link
        text="Home"
        href="/"
        aria-label="Go home"
        icon={{
          name: "ph:arrow-left",
          side: "left",
          width: "24",
        }}
        classes="flex gap-1 text-sm items-center duration-500 hover:text-zinc-50"
      />
      <ul>
        <li class="flex gap-4 text-sm">
          {
            navData.map((item) => (
              <Link
                text={item.name}
                href={item.href}
                classes="duration-500 hover:text-zinc-50"
              />
            ))
          }
        </li>
      </ul>
    </div>
  </nav>
</header>
