---
import { Icon } from "astro-icon";

import Link from "./Link.astro";

import navData from "../data/navData";
---

<nav>
  <div class="text-zinc-300 flex w-screen fixed justify-between p-7">
    <a href="/" aria-label="Go home">
      <Icon name="ph:arrow-left" width="30" />
    </a>
    <ul>
      <li class="flex gap-3 mb-5 text-base font-medium">
        {
          navData.map((item) => (
            <Link
              text={item.name}
              href={item.href}
              classes="duration-500 text-zinc-300 hover:text-zinc-50"
            />
          ))
        }
      </li>
    </ul>
  </div>
</nav>
