---
import { Icon } from "astro-icon";

import Link from "./Link.astro";

import navData from "../data/navData";
---

<nav>
  <div class="text-zinc-300 flex w-full justify-center fixed p-5 mt-5 animate-appear">
    <div class="flex w-full lg:w-[60%] justify-between items-center ">

    <a href="/" aria-label="Go home">
      <Icon name="ph:arrow-left" width="30" />
    </a>
    <ul>
      <li class="flex gap-3 text-base font-medium">
        {
          navData.map((item) => (
            <Link
              text={item.name}
              href={item.href}
              classes="duration-500 text-zinc-300 hover:text-zinc-50"
            />
          ))
        }
      </li>
    </ul>
    </div>
  </div>
</nav>
