---
import { Icon } from 'astro-icon';

import Link from './Link.astro';

import navData from '../data/navData';
---

<header>
  <nav
    class="fixed inset-x-0 top-0 z-10 backdrop-blur border-b border-zinc-900 animate-appear"
  >
    <div
      class="container flex text-zinc-300 w-full justify-between items-center mx-auto p-6"
    >
      <a
        href="/"
        aria-label="Go home"
      >
        <Icon
          name="ph:arrow-left"
          width="24"
        />
      </a>
      <ul>
        <li class="flex gap-4 text-sm">
          {
            navData.map((item) => (
              <Link
                text={item.name}
                href={item.href}
                classes="duration-500 hover:text-zinc-50"
              />
            ))
          }
        </li>
      </ul>
    </div>
  </nav>
</header>
