---
import { getCollection, type CollectionEntry } from "astro:content";
import { slugify } from "@utils/slugify";

const allPosts = await getCollection("posts");
const formattedPosts: CollectionEntry<"posts">[] = allPosts;
const allCategories = formattedPosts.map((cat) => cat.data.tag).flat();
---

<ul
  class="flex w-full justify-center gap-3 text-sm mt-5"
  aria-label="Portfolio tags"
>
  {
    allCategories.map((key) => (
      <li>
        <a
          class="duration-500 border rounded-lg hover:bg-zinc-800/40 group md:gap-8 hover:border-zinc-400 border-zinc-600/50 select-none p-2 text-zinc-300"
          href={`/tag/${slugify(key)}`}
        >
          {key}
        </a>
      </li>
    ))
  }
</ul>
