---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');

  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry }
  }));
}

const { entry } = Astro.props;

const { title, description, date, tag } = entry.data
const { Content } = await entry.render();

---

<Layout title={title} description={description}>
  <h1 class="text-zinc-50">{title}</h1>
  <Content />
</Layout>
