---
import "@fontsource-variable/inter";
export interface Props {
  title: string;
  description?: string;
}

const { title, description = "Portfolio de Rafael Feitosa de Souza." } =
  Astro.props;
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-950">
    <slot />
  </body>
</html>

<style is:global>
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #52525b #09090b;
  }

  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 0.4rem;
  }
  *::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    background-color: #09090b;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #52525b;
  }

  body {
    font-family: "Inter Variable", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
</style>
