---
import "@fontsource-variable/inter";
import MainHead from "@layouts/MainHead.astro"

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body class="bg-zinc-950">
    <slot />
  </body>
</html>

<style is:global>
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #52525b #09090b;
  }

  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 0.4rem;
  }
  *::-webkit-scrollbar-track {
    border-radius: 0.5rem;
    background-color: #09090b;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #52525b;
  }

  body {
    font-family: "Inter Variable", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
</style>
