---
import { SEO } from "astro-seo";
export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <meta charset="UTF-8" />
  <meta name="description" content={description} />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;900&display=swap"
    rel="stylesheet"
  />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>

  <SEO
    openGraph={{
      basic: {
        title: "Portfólio de Rafael Feitosa",
        type: "website",
        image: "https://rafael-feitosa.vercel.app/assets/preview.png",
        description:
          "Portfólio com os projetos de Rafael Feitosa Desenvolvedor Front-end",
      },
      optional: {
        locale: "pt_BR",
      },
    }}
    twitter={{
      card: "summary_large_image",
      title: "Portfólio de Rafael Feitosa",
      image: "https://rafael-feitosa.vercel.app/assets/preview.png",
      imageAlt:
        "Preview da página inicial do website com o nome do desenvolvedor (Rafael Feitosa), links para navegação no website, links de redes para contato LinkedIn e gmail e link para o GitHub",
      description:
        "Portfólio com os projetos de Rafael Feitosa Desenvolvedor Front-end",
    }}
  />
</head>
